@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 62.5%;
  font-family: "微软雅黑";
  color: #333; }

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

.header {
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header b {
    margin-left: 6px;
    color: #333; }
    .header b i {
      color: #333; }
  .header a {
    margin-right: 6px;
    display: flex; }
    .header a span {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 8px; }
      .header a span i {
        color: #333; }
      .header a span em {
        color: #333;
        font-style: normal; }

.main {
  width: 100%;
  overflow-y: scroll;
  flex: 1; }
  .main .list {
    width: 100%; }
    .main .list ul {
      width: 100%;
      display: flex;
      justify-content: space-around; }
      .main .list ul li {
        width: 22%;
        height: 8rem;
        margin-top: 6px;
        background: #f7f7f7;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; }
        .main .list ul li img {
          margin-top: 10px; }
        .main .list ul li p {
          font-size: 1.6rem;
          color: #333;
          margin-top: 5px; }
        .main .list ul li span {
          font-size: 1rem;
          color: #666; }
  .main .rows {
    width: 100%; }
    .main .rows .first {
      border-top: 10px solid #ccc; }
    .main .rows ul {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .main .rows ul li {
        width: 25%;
        box-sizing: border-box;
        border: 1px solid #ccc;
        text-align: center;
        height: 8rem; }
        .main .rows ul li img {
          padding-top: 1.5rem;
          width: 5rem; }
    .main .rows ol {
      width: 100%;
      height: 8rem;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .main .rows ol li {
        width: 25%;
        height: 8rem;
        border: 1px solid #ccc;
        box-sizing: border-box;
        text-align: center; }
        .main .rows ol li img {
          margin-top: 1.5rem; }
      .main .rows ol li:nth-child(2) {
        width: 50%; }
  .main .banner {
    width: 100%; }
    .main .banner img {
      width: 100%;
      height: auto; }

.footer {
  width: 100%;
  height: 5rem;
  background: #f7f7f7;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .footer a {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .footer a span {
      color: #666; }
    .footer a i {
      color: #666; }
  .footer .bg span {
    color: red;
    font-size: 1.4rem; }
  .footer .bg i {
    color: red;
    font-size: 1.6rem; }

/*# sourceMappingURL=style.css.map */
